
**What is dictionary in Python? Explain with an example?**

  Dictionaries are another example of a data structure. A dictionary is used to map or associate things you want to store the keys you need to get them. A dictionary in Python is just like a dictionary in the real world. Python Dictionary are defined into two elements Keys and Values.
* Keys will be a single element.
* Values can be a list or list within a list, numbers, etc.

**syntax**

 Dict = { ' Tim': 18,  xyz,.. }

 **Example**
 
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
print (Dict['Tiffany'])

In [3]:
# Python program to sum all the items in a list.
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,6,8]))

15

In [4]:
#Python program to create a list of empty dictionaries
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [5]:
#Python program to access dictionary keys element by index.
num = {'physics': 80, 'math': 90, 'chemistry': 86}
print(list(num)[0])

physics

In [6]:
#Python program to iterate over dictionaries using for loops
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

In [7]:
#Python program to sum all the items in a dictionary.
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [8]:
#Python script to concatenate following dictionaries to create a new one
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
#Python program to create a tuple
tup = 'python', 'gitam'
print(tup) 
tup = ('python', 'gitam') 
print(tup)

('python', 'gitam')
('python', 'gitam')

In [11]:
#Python program to create a tuple with different data types
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [12]:
#Python program to convert a tuple to a string
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [16]:
#Python program to slice a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
_slice = tuplex[3:5]
#is exclusive
print(_slice)
#if the start index isn't defined, is taken from the beg inning of the tuple
_slice = tuplex[:6]
print(_slice)
#if the end index isn't defined, is taken until the end of the tuple
_slice = tuplex[5:]
print(_slice)
#if neither is defined, returns the full tuple
_slice = tuplex[:]
print(_slice)
#The indexes can be defined with negative values
_slice = tuplex[-8:-4]
print(_slice)
#create another tuple
tuplex = tuple("HELLO WORLD")
print(tuplex)
#step specify an increment between the elements to cut of the tuple
#tuple[start:stop:step]
_slice = tuplex[2:9:2]
print(_slice)
#returns a tuple with a jump every 3 items
_slice = tuplex[::4]
print(_slice)
#when step is negative the jump is made back
_slice = tuplex[9:2:-4]
print(_slice)

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)
('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('L', 'O', 'W', 'R')
('H', 'O', 'R')
('L', ' ')

In [17]:
# Python program to find the length of a tuple.
tuplex = tuple("yashaswini")
print(tuplex)
print(len(tuplex))

('y', 'a', 's', 'h', 'a', 's', 'w', 'i', 'n', 'i')
10

In [18]:
#Python program to convert a tuple to a dictionary.
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

In [19]:
#Python program to reverse a tuple
x = ("gitam university")
y = reversed(x)
print(tuple(y))
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

('y', 't', 'i', 's', 'r', 'e', 'v', 'i', 'n', 'u', ' ', 'm', 'a', 't', 'i', 'g')
(20, 15, 10, 5)

In [20]:
#Python program to convert a list of tuples into a dictionary
#create a list
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [21]:
#Python program to convert a list to a tuple.
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)